<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Client</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	body {
	  padding-top: 60px;
	}
	.navbar-inverse {
		background-color: #223;
	}
	</style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="label label-primary">Simple Client</span></a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="jumbotron">
        <p>Access token value: <span class="label label-danger">
          {% if access_token %} {{ access_token }} {% else %} NONE {% endif %}
        </span></p>
        <p>Scope value: <span class="label label-danger">
          {% if scope %} {{ scope }} {% else %} NONE {% endif %}
        </span></p>
        <p>Refresh token value: <span class="label label-danger">
          {% if refresh_token %} {{ refresh_token }} {% else %} NONE {% endif %}
        </span></p>
        
        <p>Client ID: <span class="label label-danger">
          {% if client.client_id %} {{ client.client_id }} {% else %} NONE {% endif %}
        </span></p>
        <p>Client Secret: <span class="label label-danger">
          {% if client.client_secret %} {{ client.client_secret }} {% else %} NONE {% endif %}
        </span></p>
        <p>Registration access token: <span class="label label-danger">
          {% if client.registration_access_token %} {{ client.registration_access_token }} {% else %} NONE {% endif %}
        </span></p>
        <p>Client configuration management endpoint: <span class="label label-danger">
          {% if client.registration_client_uri %} {{ client.registration_client_uri }} {% else %} NONE {% endif %}
        </span></p>
        <a class="btn btn-default" href="/authorize">Get OAuth Token</a> 
        <a class="btn btn-default" href="/fetch_resource">Get Protected Resource</a>
        {% if client.registration_access_token %}
        <hr />
        <a class="btn btn-default" href="/read_client">Read Client Information</a>
        <form method="POST" action="/update_client">
        <label for="client_name">New Client Name</label>
        <input type="text" name="client_name" value={% if client.client_name %} "{{ client.client_name }}" {% else %} "" {% endif %} />
        <button type="submit" class="btn btn-default" >Update Client Registration</button> 
          </form>
        <a class="btn btn-default" href="/unregister_client">Unregister Client</a> 
        {% endif %}
        <form action="/revoke_access" class="form" method="POST">
          <input type="submit" class="btn btn-default" value="Revoke Access Token" />
        </form>
        <form action="/revoke_refresh" class="form" method="POST">
          <input type="submit" class="btn btn-default" value="Revoke Refresh Token" />
        </form>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
